.navegacion{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    align-items: center;
    z-index: 3;
    
}

.nav-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-self: center;
    margin-top: 1rem;
    width: 60%;
}


nav{
    background-color: rgba(255, 255, 255, 0.336);
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 15vh;
    -webkit-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(6px);


}
.obscura{
    background-color: rgba(53, 53, 53, 0.336);
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    -webkit-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.11); 
    position: fixed;

}
.texto{
    color: aliceblue;
    text-decoration:none;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
    margin-right: 2rem;
}

.texto:hover{
    color: aliceblue;
    text-decoration:none;
    border-radius: 1rem;
    transform: translate(0,-3px);
    cursor:pointer;
    transition: all 0.5s ease-in-out;
    text-shadow: 0px 0px 0 #7A7A7A, 5px 5px 4px rgba(15,6,4,0.25);

}

.iconos-redes{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    

}

.iconos-redes svg{
    margin-left: 1rem;
}

.iconos-redes svg:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
    cursor:pointer;

}

.nav-barra{
    display: none;
}


@media (max-width:768px) {
    
    nav{
        height: 10vh;
        
    }
    .nav-menu{
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;

        left:0;
        font-size: 36px;
        position: fixed;
        top:7.6vh;
        width: 100%;
        height: 100vh;
        margin-left:-100%;
        transition: all 0.6s ease-in-out;
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(6px);
        background:rgba(16, 0, 88, 0.767);

    }

    .texto{
        margin-top: 2rem;
    }
    .logo{
        margin-top:0;
    }
    .iconos-redes{
        flex-direction: column;
        padding: 0;
        margin-right: 4rem;
        margin-top: 2rem;
    }

    .nav-barra{
        z-index: -1;
        display: block;
        background-color:rgba(255, 228, 196, 0);
        border-style: none;
    }
    .nav-menu-muestra{
        margin-left:0%;
       
    }
    .nav-barra:hover{
        cursor: pointer;
    }

}