

*{
    margin:0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
   
}
body::-webkit-scrollbar{
    width: 15px;
    background-color: #0000002a;

}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #2f21b4 25%, #355aff71 100%);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom, #1c136b 25%, #2c4bd471 100%);
    transition: all 1s ease-in-out;
    
}    
.container{
    min-width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */

    width: 100%;
    flex-wrap: wrap;
}


.contenedor-imagen{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top: 5rem;
    

}
.contenedor-imagen img{
    width: 65%;
    height: 80%;
    min-width: 300px;
    border-radius: 5rem;
    border: #ffffffbe 5px solid;
}

.contenedor-textos{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    width: 50%;
}

.contenedor-textos h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-weight: 36px;
    color: #FFFFFF;
}

.contenedor-textos h2{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    color: rgba(104, 225, 253, 0.78);
}

.contenedor-textos h3{
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    
    color: rgba(255, 251, 251, 0.993);
}

.subtitulo-skills{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 3rem;
    color: #FFFFFF;
}

.lista-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin-top: 1rem;
}

.lista-skills figure{
    width: 100px;
    height: 85%;
    padding: 0 0;
    padding-left: 0.5rem;
}

.lista-skills img{
    width: 90%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.lista-skills img:hover{
    transform: translate(0,-17px);
    transition: all 0.2s ease-in-out;
}

.proyectos-recientes{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin-top: 3rem;
    color: #FFFFFF;  
}

.lista-recientes{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top:1rem;
    margin-bottom: 1rem;
    
}
.lista-recientes figure{
    margin-top: 1rem;
    width: 500px;
    height: 200px;
    padding: 0.2rem;

    
}

.lista-recientes a{
    margin-top: 1rem;
}

.lista-recientes img{
    width: 85%;
    height: 100%;
    border:rgba(255, 255, 255, 0.733) 5px solid;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

}
    

.lista-recientes img:hover{
    cursor: pointer;
    transform: translate(0,-15px);
    -webkit-box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.486);
    -moz-box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.397);
    box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.712);
    transition: all 0.5s ease-in-out;
    
}

.lista-recientes p{
    color: aliceblue;
    font-size: 20px;
    margin-top: 0.2rem;
    
}

.animacion{
    animation: ilustrationAnimate ease-in 2s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
       
       transform:translateY(10px);
    }100%{
        transform:translateY(-10px);
        -webkit-box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.486);
        -moz-box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.397);
        box-shadow: 10px 5px 19px -6px rgba(0, 0, 0, 0.712);
    }
}


/*-----------------------SmartPhone--------------------------------------------------*/

@media screen and (max-width: 1024px){
    .container{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .contenedor-imagen{
        justify-content: center;  
        width: 100%;  
        margin-top: 1rem;    
        /* background-color: #e7e7e7; */
    }
    .contenedor-imagen img{
        margin-left: 0.5rem;
    }
    .contenedor-textos{
        margin-top: 1rem;
        align-content: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 95%;
        margin-left: 1rem;
    }
    .contenedor-textos h2{
        font-size: 48px;
        margin-top: 1px;

    }
    .contenedor-textos h1{
        font-size:30px;
        margin-top: 1px;
        
    }
    .contenedor-textos h3{
        font-size:24px;
        
    }
    .subtitulo-skills{
        font-size:30px;
    }
    .proyectos-recientes{
        font-size:30px;
    }

    .lista-skills img{
        transition: all 0.2s ease-in-out;
    }

    .lista-recientes figure{
        width: 100%;
        height: 250px;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    
    .lista-recientes{
        margin-left: 1rem;
    }
    .lista-recientes p{
        color: aliceblue;
        font-size: 12px;
        margin-top: 0.2rem;
    }

}

@media screen and (max-width:540px) {
    .lista-recientes{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .lista-recientes figure{
        height: 200px;
    }
}