

*{
    margin:0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #DC2424 0%, #4A569D 100%);
   
}

.container{
    min-width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    width: 95%;
    flex-wrap: wrap;
}


.contenedor-imagen{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

}
.contenedor-imagen img{
    margin-right: 1rem;
    width: 90%;
    min-width: 300px;
}

.contenedor-textos{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    width: 50%;
}

.contenedor-textos h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-weight: 1500;
    color: #FFFFFF;
}

.contenedor-textos h2{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    color: rgba(104, 225, 253, 0.78);
}

.contenedor-textos h3{
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
    
    color: rgba(255, 251, 251, 0.993);
}

.subtitulo-skills{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-top: 3rem;
    color: #FFFFFF;
}

.lista-skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.lista-skills img{
    width: 10%;
    transition: all 0.2s ease-in-out;
}

.lista-skills img:hover{
    transform: translate(0,-17px);
    transition: all 0.2s ease-in-out;
}

.proyectos-recientes{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-top: 3rem;
    color: #FFFFFF;  
}

.lista-recientes{
    display:flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-top:1rem;
    margin-bottom: 1rem;
    
}

.lista-recientes a{
    margin-top: 1rem;
    margin-right: 1rem;
    
    
}

.lista-recientes img{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;

}
    

.lista-recientes img:hover{
    cursor: pointer;
    transform: translate(0,-15px);
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.11);
    box-shadow: 2px 5px 19px -6px rgba(0, 0, 0, 0.11);
}

.animacion{
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
       transform: scale(1); 
    }100%{
        transform: scale(1.02);
    }
}


/*-----------------------SmartPhone--------------------------------------------------*/

@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
        width: 95%;
        flex-wrap: wrap;
    }

    .contenedor-textos{
        margin-top: 1rem;
        align-content: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 95%;
    }
    .contenedor-textos h2{
        font-size: 48px;

    }
    .contenedor-textos h1{
        font-size:30px;
        
    }
    .contenedor-textos h3{
        font-size:24px;
        
    }
    .subtitulo-skills{
        font-size:30px;
    }
    .proyectos-recientes{
        font-size:30px;
    }

    .lista-skills img{
        width: 20px;
        height: 18px;
        transition: all 0.2s ease-in-out;
    }

    

}